#app {
  position: fixed;
  inset: 0;
  background-color: #666;
  display: grid;
  grid: minmax(0, 1fr) / minmax(0, 1fr);
  place-items: center;
}

#app > * {
  grid-area: 1 / 1;
  position: relative;
}
